
<br />
<br />

<div class="properties index">
<br /><br /><br />
  <div class="search">
    <div class="form-section">
        <div class="row">

          <%= form_tag(:controller => "search", :action => "search") do %>

            <div class="col-md-6">
              <div class="form-group">
                <%= text_field_tag :location, params[:location], :class => 'form-control', :placeholder => 
                'Where will you be on Friday?', :id => 'geo-input' %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                <%= text_field_tag :date, params[:date], :class => 'form-control', "data-provide" => 'datepicker', 
                :placeholder => 'Which Friday?' %>
                 <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               </div>
             </div>
           </div>
           <div class="col-md-3">
           <%= submit_tag "Go!", :class => "btn btn-default btn-danger" %>

          </div>
          <p></p>
        <% end %>

      </div>
      </div>

    <style>
      #map-container { height: 400px }
    </style>
</div>
    <div id="map-container" class="col-lg-12"></div>

	<script>
      function init_map() {
		var var_location = new google.maps.LatLng(<%= @property.latitude %>,<%= @property.longitude %>);
 		var property_name = "<%= @property.name %>";

        var var_mapoptions = {
          center: var_location,
          zoom: 12
        };

		var var_marker = new google.maps.Marker({
			position: var_location,
			map: var_map,
			title: property_name });

        var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);

		var_marker.setMap(var_map);

      }

      google.maps.event.addDomListener(window, 'load', init_map);
	</script>

	<br />	<br />

</div> 
<br />
<br />

<% @properties.each do |property| %>
<% user = User.find_by_id(property.user_id) %>
<% image = property.photo.url %>
<br />

</div>


<a class="col-lg-3 col-xs-4 col-lg-3 thumbnail" href= <%= "/properties/show/?id=#{property.id}"  %> style="position: relative;" >
	<img src= <%= "#{image}" %> style="width:400px;height:227px; /">
	<div class="wrapper">
		<div class="caption post-content">

			<h2><span><%= property.city.titleize() +" " %><br /><%= property.country.titleize() + " " %></span></h2>

		</div>
	</div>

</a>
</div>

<% end %>
</div>

