<%= stylesheet_link_tag "login" %>
<%= stylesheet_link_tag "user_details" %>   

<%= bootstrap_form_for @user, url: { :controller => "user", :action => "create" } do |f| %>


<div class="container">
<div class="col-lg-3 col-lg-6 col-lg-3">
<div class="container">
  <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">Enter your details below:
        </div>
        <div class="panel-body">
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">

      <div class="form-group">
          <%= f.text_field :username, class:'form-control', placeholder:'Username' %>
      </div>

      <div class="form-group">
          <%= f.text_field :first_name, class:'form-control', placeholder:'First name' %>
      </div>

      <div class="form-group">
          <%= f.text_field :last_name, class:'form-control', placeholder:'Last name' %>
      </div>

      <div class="form-group">
          <%= f.text_field :email, class:'form-control', placeholder:'someone@somewhere.com' %>
      </div>

      <div class="form-group">
          <%= f.password_field :password, class:'form-control' %>
      </div>

      <div class="form-group">
          <%= f.password_field :password_confirmation, class:'form-control' %>
      </div>


      <div class="form-group">
          <%= f.text_field :address, class:'form-control', placeholder:'1 Infinity Loop' %>
      </div>


      <div class="form-group">
          <%= f.text_field :city, class:'form-control', placeholder:'Cupertino' %>
      </div>


      <div class="form-group">
          <%= f.text_field :country, class:'form-control', placeholder:'United States of America' %>
      </div>

      <div class="form-group">
          <%= f.text_field :phone, class:'form-control', placeholder:'+61 412 713 315' %>
      </div>

      <div class="form-group">
          <%= f.file_field :userpic, class:'form-control' %>
      </div>

      <div class="form-group">
          <br />
          <%= f.submit 'Submit', class:'btn btn-success' %>
      </div>
</table>
    </div>

  </div>
</div>

<% end %>