<% if !flash[:notice].blank? %>
	<div class="notice">
    <%= flash[:notice] %>
	</div>
<% end %>

<div class="user show">
  <h2>Where will you be on Friday?</h2>
  
  <table summary="properties detail view">
	<tr>
	  <th>Name</th>
	  <!-- To do: Add image of property rather than name here -->
	  <td><%= @property.name %></td>  
	</tr>
	<tr>
	  <th>Location</th>
	  <td><%= @property.city + ", " + @property.country %></td>
	</tr>
	<tr>
	  <th>Points Required</th>
	  <td><%= @property.num_points %></td>
	</tr>
	<tr>
	  <th>Reviews</th>
	  <td><%= "Coming soon..." %></td>
	</tr>
	</table>
	
	<br />
	<br />
</div>