
<div class="properties index">
	<h2>Properties</h2>

	<div class="panel panel-default">
		<div class="panel-heading">My Properties</div>
		<div class="panel-body">
			<span class="pull-right">
				<%= link_to("Add new property", {:action => 'new'}, :class => 'btn btn-primary') %>
			</span>
		</div>


		<table class="table">
			<thead>
				<th>Property Name</th>
				<th>Owner Name</th>
				<th>Country</th>
				<th>City</th>
			</thead>
			<tbody>
				<% @properties.each do |property| %>
				<% user = User.find_by_id(property.user_id) %>
				<tr>
					<td><%= property.name %></td>
					<td><%= "#{user.first_name} #{user.last_name}" %></td>
					<td><%= property.country %></td>
					<td><%= property.city %></td>
					<td class="actions">
					  <%= link_to("Show", {:action => 'show', :id => property.id, :user_id => user.id}, :class => 'btn btn-primary btn-xs') %>
					  <%= link_to("Edit", {:action => 'edit', :id => property.id}, :class => 'btn btn-primary btn-xs') %>
					  <%= link_to("Delete", {:action => 'delete', :id => property.id}, :class => 'btn btn-primary btn-xs') %>

					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>


</div>