<%= stylesheet_link_tag "show_property" %>
<br />
<div class="container">
	<div class="row">
		<div class="col-lg-12 toppad" >

		<div class="container" style="background-image:url( <%= @property.photo.url %> ); !important">
		  <p></p>
		  <div class="jumbotron" style= "height: 800px background-image:url( <%= @property.photo.url %> ); !important">

				<h1>
					<%= @property.name.titleize() %>
				</h1>

			</div>
			<div class="pull-right"> <p><%= link_to("Book now!", {:controller => 'reservation', :action => 'new', :property_id => @property.id},
               class: "btn btn-danger btn-large") %></p>
               </div>
	        <br /><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		<div align="center">
		<br />
		    <% host = @property.user_id %>
			<%= image_tag @host.userpic.url, class: "img-circle img-responsive", height: '100', width: '110' if @host.userpic?%>
			<strong>Host:</strong> <%= @host.first_name.capitalize() %>
			</div>
		</div>
		<div class="col-md-4">
		<div align="center">
		<br />
		    <h2><strong>
			<%= @property.num_points %> Points</h2>
			</strong>
			<%= link_to("Book now!", {:controller => 'reservation', :action => 'new', :property_id => @property.id},
               class: "btn btn-danger btn-large") %>
			</div>

		</div>
		<div class="col-md-4">
		<div align="center">
		<br />
		    <%= image_tag('rating.png', class: "img-rounded", height: '100', width: '110') %><p>
		    <strong>Average Rating:</strong><p><%= @property.rating %>  Star!
		    </div>
		</div>
	</div>
</div>
<br /><br />
<div class="container">
<div class="row">
<div class="col-lg-12">

	<h2>
		<%= @property.num_rooms.to_s %> bedroom abode in <%= @property.city.titleize() %>
	</h2>
	<p>
		Stay your way with <strong><%= @host.first_name.titleize() %></strong>. You can find the exact location of this property by
		clicking here.  You can also reach out to
		<%= mail_to(@host.email(), @host.first_name.titleize()) %> for more information.
	</p>
	</div>
	<div class="col-lg-8">

    <style>
      #map-container { height: 300px }
    </style>
</div>
    <div id="map-container" class="col-lg-12"></div>

    <script>

      function init_map() {
		var var_location = new google.maps.LatLng(<%= @property.latitude %>,<%= @property.longitude %>);
 		var property_name = "<%= @property.name %>";

        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };

		var var_marker = new google.maps.Marker({
			position: var_location,
			map: var_map,
			title: property_name });

        var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);

		var_marker.setMap(var_map);

      }

      google.maps.event.addDomListener(window, 'load', init_map);

    </script>

</div> </div>

	<br />
<div class="pull-right">
	<% if session[:username] %>
	<%= link_to("Edit Property", {:action => 'edit', :id => @property.id}, class: "btn btn-primary btn-sm") %>
	<% end %>
	</div>
<br />

</div>
