<% if !flash[:notice].blank? %>
	<div class="notice">
    <%= flash[:notice] %>
	</div>
<% end %>

<div class="user show">
	<h2>Show Property</h2>
	<table summary="properties detail view">

	<tr>
		<td><%= image_tag @property.photo.url %></td>
	</tr>
	<tr>
		<th>Address</th>
		<td><%= @property.address.titleize + ", " + @property.city.titleize + ", " + @property.country.titleize %></td>
	</tr>
	<tr>
		<th>Points Required for Reservation</th>
		<td><%= @property.num_points %></td>
	</tr>
	<tr>
		<th>Reviews</th>
		<td><%= "..." %></td>
	</tr>

	</table>
	<br />
	<% if session[:username] %>
	<%= link_to("Edit", {:action => 'edit', :id => @property.id}) %>
	<% end %>
<br />
	
</div>