
<%= render(:partial => '/layouts/header') %>

</div>
</div>

<div class="properties">
	<div align="center">
		<h2>Where will you be on Friday?</h2>
	</div>
</div>

<div class="container">
	<% @properties.each do |property| %>
	<% user = User.find_by_id(property.user_id) %>
	<% image = property.photo.url %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href= <%= "/properties/show/?id=#{property.id}" %> >
				<img src=<%= "#{image}" %>><br>
			</a>
			Stay with 
			<%= link_to("#{user.first_name.camelize}", {:controller => 'user', :action => 'show', :id => user}) %> 
			in 
			<%= property.city.camelize %>
		</div>
	</div>	 
	<% end %>
</div>