<% if !flash[:notice].blank? %>
	<div class="notice">
    <%= flash[:notice] %>
	</div>
<% end %>



<div class="user show">
	<h2>Show Property</h2>
<%= link_to("<< Go back", { :controller=>'user', :action => 'show',:id => session[:user_id] }, :class => 'back-link') %>
	<table summary="properties detail view">
	<tr>
		<th>Name</th>
		<td><%= @property.name %></td>
	</tr>

	<tr>
		<td><%= image_tag @property.photo.url %></td>
	</tr>

	<tr>
		<th>Address</th>
		<td><%= @property.address + ", " + @property.city + ", " + @property.country %></td>
	</tr>
	<tr>
		<th>Points Required for Reservation</th>
		<td><%= @property.num_points %></td>
	</tr>
	<tr>
		<th>Reviews</th>
		<td><%= "To be continue" %></td>
	</tr>

	</table>
	<br />
	<% if session[:username] %>
	<%= link_to("Edit", {:action => 'edit', :id => @property.id}) %>
	<% end %>
<br />
	
</div>