<% if !flash[:notice].blank? %>
	<div class="notice">
    <%= flash[:notice] %>
	</div>
<% end %>
<div class="properties index">
	<h2>Where will you be on Friday?</h2>

	<table class="listing" summary = "property list">
		<tr class="header">
			<th>Property Name</th>
			<th>Owner Name</th>
			<th>Country</th>
			<th>City</th>
		</tr>
		<% @properties.each do |property| %>
		<% user = User.find_by_id(property.user_id) %>
		<tr>
			<td><%= property.name %></td>
			<td><%= "#{user.first_name} #{user.last_name}" %></td>
			<td><%= property.country %></td>
			<td><%= property.city %></td>
		</tr>
		<% end %>
	</table>
</div>