<%= stylesheet_link_tag "user_details" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
			<div class="panel panel-info">
				<div class="panel-heading">

					<span class="pull-right">
					<%= link_to("Edit Profile", {:action => 'edit', :id => @user.id}, :class => "btn btn-primary btn-xs") %>
						<%= link_to("Delete Profile", {:action => 'delete', :id => @user.id}, :class => "btn btn-danger btn-xs") %>
					</span>
					<h3 class="panel-title"><%= @user.username.capitalize() + " " + @user.last_name.capitalize() %></h3>

				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center">

							<%=image_tag(@user.userpic.url, class: "img-circle img-responsive") if @user.userpic?%>

						</div>
						<div class=" col-md-9 col-lg-9 "> 
							<table class="table table-user-information">
								<tbody>
									<tr>
										<th>Username: </th>
										<td><%= @user.username.capitalize %></td>
									</tr>
									<tr>
										<th>First Name:</th>
										<td><%= @user.first_name.capitalize %></td>
									</tr>
									<tr>
										<th>Last Name: </th>
										<td><%= @user.last_name.capitalize %></td>
									</tr>
									<tr>
										<th>Email: </th>
										<td><%= @user.email %></td>
									</tr>
									<tr>
										<th>Address: </th>
										<td><%= @user.address.titleize() +", " + @user.city.capitalize() + ", " + @user.country.capitalize() %></td>
									</tr>
									<tr>
										<th>Phone: </th>
										<td><%= @user.phone %></td>
									</tr>
									<tr>
										<th>Points: </th>
										<td><%= @user.points %></td>
									</tr>
									<tr>
										<th>Rating: </th>
										<td><%= @user.rating %></td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>
				<div class="panel-footer">

			
						<%= link_to("Add Property", {:controller => 'properties', :action => 'new', :user_id => @user.id}, :class => "btn btn-primary") %>
						<%= link_to("Show Properties", {:controller => 'properties', :action => 'index', :user_id => @user.id}, :class => "btn btn-primary") %>
						<%= link_to("Reservations", {:controller => 'reservation', :action => 'index', :user_id => @user.id}, :class => "btn btn-primary") %>

				

				</div>

			</div>
		</div>
	</div>
</div>

</div>

<div class="panel panel-default">  
	<div class=panel-heading>Your recent guests</div> 
	<div class=panel-body> 
		<p>
			Here are some of the people that you have hosted recently.  You can see their name, location, contact information and the rating they've given your property.  If they loved what you offered and you loved hosting them, we strongly encourage you stay in touch and recommend them to other members of the community.  Good hosts, good guests and good times means every Friday will be an amazing experience!
		</p> 
	</div>  

	<table class=table> 
		<thead> 
			<tr>
				<th>#</th> 
				<th>First Name</th> 
				<th>Last Name</th> 
				<th>Username</th> 
				<th>Friday</th> 
				<th>Rating</th> 
				<th>Contact</th> 
			</tr> 
		</thead> 
		<tbody> 
			<tr> 
				<th scope=row>1</th> 
				<td>Mark</td> 
				<td>Otto</td> 
				<td>@mdo</td>
				<td>23/5/2016</td>
				<td>4/5</td>
				<td>mark@otto.com</td>
			</tr> 
			<tr> 
				<th scope=row>2</th> 
				<td>Jacob</td> 
				<td>Thornton</td> 
				<td>@fat</td> 
				<td>3/4/2016</td>
				<td>5/5</td>
				<td>fat@jacob.com</td>

			</tr> 
			<tr> 
				<th scope=row>3</th> 
				<td>Larry</td> 
				<td>the Bird</td> 
				<td>@twitter</td> 
				<td>1/3/2016</td>
				<td>5/5</td>
				<td>larrythebird@hotmail.com</td>
			</tr> 
		</tbody> 
	</table> 
</div>

