<div class="user reservations">
  <h2> Your reservations </h2>

	<table class="listing" summary = "reservations list">
		<tr class="header">
			<th>Property Name</th>
			<th>Country</th>
			<th>City</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>feedback</th>
      <th>Average rating</th>
		</tr>
		<% @reservationsAsGuest.each do |reservation| %>
		<% property = Property.find_by_id(reservation.property_id) %>
		<tr>
			<td><%= property.name %></td>
			<td><%= property.country %></td>
			<td><%= property.city %></td>
      <td><%= reservation.start_date %></td>
      <td><%= reservation.status %></td>
      <td><%= reservation.property_rating %></td>
      <td><%= property.rating %></td>
			<td class="actions">
        <% if (reservation.status == "accepted") %>
          <%= link_to("Leave feedback", {:action => 'propertyFeedback', :reservation_id => reservation.id}) %>
        <% end %>
      </td>
		</tr>
		<% end %>
	</table>
</br>
</br>
</br>
reservations for your properties

  <table class="listing" summary = "reservations list">
		<tr class="header">
			<th>Property Name</th>
			<th>Country</th>
			<th>City</th>
      <th>Start Date</th>
      <th>Status</th>
      <th>Feedback</th>
		</tr>
		<% @properties.each do |property| %>
		<% reservations = Reservation.all.where(property.id) %>
    <% reservations.each do |reservation| %>
		<tr>
			<td><%= property.name %></td>
			<td><%= property.country %></td>
			<td><%= property.city %></td>
      <td><%= reservation.start_date %></td>
      <td><%= reservation.status %></td>
      <td><%= reservation.guest_rating %></td>
			<td class="actions">
      <% if (reservation.status == "pending") %>
        <%= link_to("Accept", {:action => 'accept', :property_id => reservation.property_id, :reservation_id => reservation.id, :host_id => property.user_id, :guest_id => reservation.user_id}) %>
        <%= link_to("Reject", {:action => 'reject', :property_id => reservation.property_id, :reservation_id => reservation.id, :host_id => property.user_id, :guest_id => reservation.user_id}) %>
      <% end %>
      <% if (reservation.status == "accepted") %>
        <%= link_to("Leave feedback", {:action => 'userRating', :reservation_id => reservation.id, :guest_id => reservation.user_id}) %>
      <% end %>
      </td>
		</tr>
    <% end %>
    <% end %>
	</table>
</div>
