<div class="user rating">
  <h2>Leave feedback</h2>

  <%= form_for(:reservation, :url => {:action => 'enterRating', :reservation_id => @reservation.id, :user_id => @user.id}) do |f| %>
  <table summary="feedback form fields">
    <tr>
      <th>Rating</th>
      <td>
          <%= f.radio_button(:guest_rating, 1.0) %>
          <%= f.label(:guest_rating, "1") %>
          <%= f.radio_button(:guest_rating, 2.0) %>
          <%= f.label(:guest_rating, "2") %>
          <%= f.radio_button(:guest_rating, 3.0) %>
          <%= f.label(:guest_rating, "3") %>
          <%= f.radio_button(:guest_rating, 4.0) %>
          <%= f.label(:guest_rating, "4") %>
          <%= f.radio_button(:guest_rating, 5.0) %>
          <%= f.label(:guest_rating, "5") %>
        </td>
      </tr>
  </table>
  	<div class="form-buttons">
  		<%= submit_tag("Submit") %>
  	</div>
  <% end %>
</div>
