<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <nav>
          <%= link_to  image_tag('logo.png', height: '40', width: '110',  :style => "padding-bottom: -10px padding-top: 25px"), 
      url_for({:controller => 'main', :action => 'index'})  %>
      <ul class="nav navbar-nav  navbar-right">
      <% if current_user %>
        <li><%= link_to('Browse', {:controller => 'properties', :action => 'show_all'}) %></li>
        <li><%= link_to('Account', {:controller => 'user', :action => 'show'}) %></li>
        <li><%= link_to('Log out', {:controller => 'main', :action => 'logout'}) %></li></li>
      <% else %>
          <li><%= link_to('Browse', {:controller => 'main', :action => 'browse'}) %></li>
          <li><%= link_to "Sign up", {:controller => 'main', :action => 'signup'} %></li>
          <li><%= link_to('Log in', {:controller => 'main', :action => 'login'}) %></li>
          </ul>
      <% end %>
      </ul>
    </nav>
  </div>     
</header>
<br />

<% if notice || alert %>
<div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
  <div class="container col-lg-12 clearfix">
    <div class="col-lg-12">
      <% if notice %>
      <p><%= notice %></p>
      <% elsif alert %>
      <p><%= alert %></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<p />
<p />
<p />


   