<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <title>Friday</title>
      <meta name="description" content="Week long vacation rentals. Where will you be on Friday?">
      
      
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      
        
        <%= link_to "Friday", {:controller => "main", :action => "index"}, id: "logo" %></a>
      <nav>
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav  navbar-right">

          <li><%= link_to('Browse', {:controller => 'main', :action => 'show_all'}) %></li>
          <li><%= link_to "Sign up", {:controller => 'main', :action => 'signup'} %></li>
  		    <li><%= link_to('Log in', {:controller => 'main', :action => 'login'}) %></li>
          </ul>
          </div>
      </nav>
    </div>     
  </header>
  <body>
  <br /><br />
  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="container">
  		<%= yield %>
  </div>


    </body>
  </html>

